{% extends 'base.html' %}
{% block styles %}
{% endblock %}
{% block title %}
Cart
{% endblock %}
{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock %}
{% block content %}
{% for item in cart %}
<p>{{ item.name }} - {{ item.price }} </p>
{% endfor %}
<form method="POST" action="{% url 'cart_add' %}">
    {% csrf_token %}
    {{ form.name.label }}
    {{ form.name }}
    {{ form.price.label }}
    {{ form.price }}
    <input type="hidden", name="user", value="{{ user.id }}">
    <button>Add</button>
    {{ form.name.errors }}
    {{ form.price.errors }}
</form>
{% endblock %}