{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block styles %}
{% endblock %}
{% block title %}
Ingredients category
{% endblock %}
{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock %}
{% block content %}
<h1>Your ingredients</h1>
{% for ingredient in ingredients %}
<p>{{ ingredient.name }}</p>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<form method="POST" action="{% url 'ingredients_add' view.kwargs.category %}">
    {% csrf_token %}
    {{ form.name.label }}
    {{ form.name }} 
    {{ form.category.errors }}
    <input type="hidden", name="category", value="{{ category }}">
    <input type="hidden", name="user", value="{{ user.id }}">
    <button>Add</button>
</form>

{% endblock %}
