{% extends 'base.html' %}
{% block styles %}
{% endblock %}
{% block title %}
Update ingredient
{% endblock %}
{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock %}
{% block content %}
<form method="POST" action="{% url 'ingredients_update' ingredient.id %}">
    {% csrf_token %}
    {{ form.name.label }}
    {{ form.name }}
    {{ form.category.label }}
    {{ form.category }}
    <input type="hidden" name="user" value="{{ user.id }}">
    <button>Update</button>
</form>
{% endblock %}

