{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block styles %}
{% endblock %}
{% block title %}
Update product
{% endblock %}
{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock %}
{% block content %}
<form method="POST" action="{% url 'products_update' product.id %}">
    {% csrf_token %}
    {{ form.name.label }}
    {{ form.name }}
    {{ form.price.label }}
    {{ form.price }}
    {{ form.duration.label }}
    {{ form.duration }}
    {{ form.ingredients.label }}
    {{ form.ingredients }}
    <input type="hidden" name="user" value="{{ user.id }}">
    <button>Update</button>
</form>
{% endblock %}

