<h1>Your products</h1>
<table> 
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Duration</th>
        <th>Ingredients</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>     
{% for product in products %}
<tr>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.duration }}</td>
    <td>{% for ingredient in product.ingredients.all %}
    {{ ingredient.name }}
    {% endfor %}</td>
    <td><form method="POST" action="{% url 'products_delete' product.id %}">
    {% csrf_token %}
    <button>Delete</button>
    </form></td>
    <td><button><a href="{% url 'products_update' product.id %}">Update</a></button> </td>
</tr>
{% endfor %}
</table>

<form method="POST" action="{% url 'products_add' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Add</button>
</form>

