{% extends 'base.html' %}
{% block styles %}
{% endblock %}
{% block title %}
Update service
{% endblock %}
{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock %}
{% block content %}
<form method="POST" action="{% url 'services_update' service.id %}">
    {% csrf_token %}
    {{ form.name.label }}
    {{ form.name }}
    {{ form.date.label }}
    {{ form.date }}
    {{ form.product.label }}
    {{ form.product }}
    <input type="hidden" name="user" value="{{ user.id }}">
    <button>Update</button>
</form>
{% endblock %}

