{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div>  
    {% if user.is_authenticated %}
    <p>You are logged in as {{ user.username }}</p>
    {% else %}
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="Create User">
    </form>
    <a href="{% provider_login_url 'google'%}?next=/">Register With Google</a>
    <div>
        <p>You have an account?</p>
        <a href="{% url 'login' %}">Login here</a>
    </div>
    {% endif %}
    </div> 
    
    <footer>
        <a href="{% url 'index' %}">Go back to main page</a>
    </footer>
    
</body>
</html>